:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --secundary-color: #39E079;
    --background-color: #040F13;
    --main-text-color: white;
    --gray-color: #242424;
    color: var(--main-text-color);
    font-family: 'Roboto Condensed';
    font-size: 18px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    position: relative;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

nav {
 border-bottom: 2px dashed var(--secundary-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0px 20px;
 color: var(--main-text-color);
 background-color: var(--background-color);
 position: sticky;
 top: 0;
}

.hamburger-input {
    display: none;
}

@media screen and (min-width: 769px) {
    .hamburger {
        display: none;
    }
}
.logo {
    max-width: 100px;
}

.nav-list {
    flex: 0.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    letter-spacing: 5px;
    font-family: 'Margarine';
}

@media screen and (max-width: 769px) {

    body {
        text-align: center;
    }
    .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 32px;
        background-color: var(--background-color);
        right: -190px;
        top: 82px;
        padding: 10px 32px;
        height: 100vh;
        border-left: 1px solid var(--secundary-color);
        border-top: 2px dashed var(--secundary-color);
        transition: 300ms;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
    }

}

#check:checked ~ .nav-list {
    right: 0;
}

.nav-link {
    min-width: 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
}

.nav-link:hover{
    color: var(--secundary-color);
}

.nav-link::before{
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: var(--secundary-color);
}

.nav-link-ltr::before {
    width: 0%;
    bottom: -5px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.hero {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1, h3 {
    font-family: 'Margarine';
    letter-spacing: 2px;
}

h1 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.5rem;
}

.cards-container {
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: var(--main-text-color);
}
.card {
    min-width: 220px;
    max-height: 300px;
    min-height: 300px;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-radius: 5px;
    background-color: var(--gray-color);
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
    border: 2px dashed var(--secundary-color);
}

.card:hover h3 {
    color: var(--secundary-color);
}

.fa-magnifying-glass,
.fa-image,
.fa-bug,
.fa-vial {
    font-size: 1.5rem;
}

.step-1-container,
.step-2-container, 
.step-3-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.step-1,
.step-2,
.step-3 {
    width: 75%;
}

.material-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed white;
}

@media screen and (max-width: 769px) {
    .material-container{
        flex-direction: column;
    }
}

.inside-material-content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.fa-square,
.fa-scissors,
.fa-flask,
.fa-thumbtack,
.fa-layer-group {
    font-size: 1.8rem;
}

.material-title{
    color: var(--secundary-color);
}

.box-img,
.forceps-img,
.vial-img,
.styrofoam-img,
.pins-img {
    max-width: 120px;
}

.step-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.getGear-content-closed {
    height: 90px;
    overflow-y: hidden;
    transition: 500ms;
}

.getGear-content-opened {
    height: 400px;
    transition: 500ms;
}

.getGear-content-closed:hover {
    cursor: pointer;
}

.getGear-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.getGear-header:nth-child(1) {
    border-top: 2px dashed;
}

.fa-plus,
.fa-x {
    font-size: 1.5rem;
}

.getGear {
    display: flex;
    justify-content: space-between;
}

.getGear-title {
    flex: 1;
    color: var(--secundary-color);
}

.getGear-p {
    flex: 1;
}

hr {
    border: none;
    border-top: 1px dashed var(--main-text-color);
}

.pin-gallery-container {
    display: grid;
    grid-template-areas: 
    "box butter collec"
    "box fly boxInsect";
    max-width: 100%;
    gap: 8px;
    margin-top: 32px;
}

.pin-gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.pin-1 {
    grid-area: box;
}
.pin-2 {
    grid-area: collec;
}
.pin-3 {
    grid-area: butter;
}
.pin-4 {
    grid-area: fly;
}
.pin-5 {
    grid-area: boxInsect;
}

.spread-gallery-container {
    display: grid;
    grid-template-areas: 
    "spread1 spread3 spread5"
    "spread2 spread4 spread5";
    max-width: 100%;
    gap: 8px;
    margin-top: 32px;
}

.spread-gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.spread1 {
    grid-area: spread1;
}
.spread2 {
    grid-area: spread2;
}
.spread3 {
    grid-area: spread3;
}
.spread4 {
    grid-area: spread4;
}
.spread5 {
    grid-area: spread5;
}

.vial-gallery-container {
    display: flex;
    max-width: 100%;
    gap: 8px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.vial-gallery-container img {
    width: 200px;
    border-radius: 5px;
}

.vial1 {
    flex: 1;
}
.vial2 {
    flex: 1;
}